body {
}

#searchApp .main-title{
    text-align:center;
}
#searchApp th{
    cursor:move;
}
#searchApp ul.column-toggler li{
    padding: 2px 0.5em;
    margin-left:10px;
    margin-bottom:5px;
    cursor: pointer;
}

#searchApp ul.column-toggler{
    text-align: center;
}

#searchApp .searchbar-form {
    width: 30%;
    margin-left: 35%;
    margin-bottom:2%;
}