#searchApp .main-title{
    text-align:center;
}
#searchApp th{
    cursor:move;
}
#searchApp ul.column-toggler li{
    padding: 2px 0.5em;
    margin-left:10px;
    margin-bottom:5px;
    cursor: pointer;
}

#searchApp ul.column-toggler{
    text-align: center;
}

#searchApp .searchbar {
    width: 40%;
    min-width:200px;
    margin-left: 35%;
    margin-bottom:50px;
}

#searchApp .searchbar form input{
    font-size:1.3em;
}
#searchApp .autocomplete{
    width: 100%;
    cursor: pointer;
}
#searchApp .autocomplete li.suggestion.focused{
    background-color: #eeeeee;
}

#searchApp .autocomplete li.suggestion.focused a{
    color: #009688;
}
#searchApp .autocomplete li .results-count{
    float:right;

}
#searchApp .autocomplete li span{
    float:left;
}