#searchApp .main-title{
    text-align:center;
}
#searchApp th{
}
#searchApp ul.column-toggler li{
    padding: 2px 0.5em;
    margin-left:10px;
    margin-bottom:5px;
    cursor: pointer;
}

#searchApp ul.column-toggler{
    text-align: center;
}

#searchApp .searchbar {
    width: 50%;
    min-width:200px;
    margin-left: 25%;
    margin-bottom:50px;
}

#searchApp .searchbar form input{
    font-size:1.3em;
}
#searchApp .autocomplete{
    width: 100%;
}
#searchApp .autocomplete li.suggestion{
    cursor: pointer;
}
#searchApp .autocomplete li.suggestion.focused{
    background-color: #eeeeee;
}

#searchApp .autocomplete li.suggestion.focused a{
    color: #009688;
}
#searchApp .autocomplete li .results-count{
    float:right;

}
#searchApp .autocomplete li span{
    float:left;
}
#searchApp .column-toggler .drag-over{
    border-left: 2px solid black;
}

#searchApp tr.not-match{
    max-height:5px;
}
#searchApp ul.exporters{
    margin-left:0px;
    padding-left:0px;
}
#searchApp li.exporter{
    margin-left:5px;
    cursor:pointer;
}